:root {
    --title-color: #cbf23f;
    --section-color: #000;
    --main-color: #00adc6;
    --p-color: #777;
    --footer-color: #2c4755;
    --title-font: "Raleway", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    background-color: rgb(19, 19, 19);
}
header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: #000;
        font-size: 30px;
        text-transform: capitalize;
        font-family: var(--title-font);
        margin-left: 30px;
    }
    .icon-menu {
        color: #000000;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
        .navigation-parent {
            width: 330px;
            height: 330px;
            display: none;
            background-color:var(--footer-color);
            margin-right: 24px;
            padding: 20px;
            position: absolute;
            top: 70px; 
            right: 2px;
            nav ul li {
                width: 90%;
                list-style: none;
                margin-bottom: 10px;
                padding: 10px 10px;
                border-bottom: solid 2px var(--p-color);
                cursor: pointer;
            }
            nav ul [class~="last-a"] {
                border-bottom: none;
            }
            li a {
                color: #ffffff;
                text-decoration: none;
                text-transform: capitalize;
                font-size: 18px;
                transition: 0.3s;
            }
            li a:hover {
                padding-left: 25px;
            }
        }
        .navigation-parent::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px;
            border-color:  transparent transparent var(--footer-color);
            right: 5px;
            top: -16px;
        }

}
.main-1 {
    .logos {
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 700px;
        translate: 40% 85%;
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
    .title-main {
        padding-top: 100px;
        h1{
            width: 400px;
            padding-bottom: 50px;
            text-transform: capitalize;
            text-align: center;
            margin: auto;
            padding: 10px 20px;
            font-family: var(--title-font);
            color: var(--title-color);
            border: solid 2px var(--title-color);
        }    
    }
    section {
        padding-top: 100px;
        img {
            width: 700px;
            height: 500px;
            margin-bottom: 200px;
            translate: 40% 0%;
            border-radius: 20px;
            border: #ffffff solid 2px;
        }
        .frist-img {
            margin-bottom: 50px;
        }
        #logo-abo-zaid {
            img {
                margin-top: 100px;
            }
        }
        .div-abo-zaid{
            height: 100px;
        }
    }
}
.section-footer {
    height: 50px;
    padding-top: 40px;
    text-align: center;
    background-color: var(--footer-color);
    height: 100px;
    margin: auto;
    p{
        font-size: 20px ;
        font-family: var(--title-font);
        color: #ffffff;
    }
    span h2{
            color: white;
            font-family: var(--title-font);
            font-weight: 700;
            text-transform: capitalize;
    }
}
@media (max-width:991px) {
    header {
        height: 100px;
        h1 {
            font-size: 40px;
        }
        .icon-menu {
            font-size: 70px;
        }
        .navigation-parent {
            width: 400px;
            height: 420px;
            position: absolute;
            top: 100px;
            right: 16px;
            nav ul li {
            font-size: 30px;
            }
            }
        }

    .main-1 {
        .logos {
            width: 700px;
            translate: 25% 110%;
            img {
                width: 300px;
                height: 300px;
            }
        }
        section {
            padding-top: 100px;
            img {
                width: 600px;
                height: 400px;
                translate: 32% 0%;
            }
        }
    }
    /* start media footer */
    .section-footer {
        width: 100%;
    }
}

@media (min-width:1000px) and (max-width:1200px){
    .main-1 {
        .logos {
            width: 500px;
            margin-bottom:500px;
            translate: 50% 95%;
            img {
                width: 200px;
                height: 200px;
            }
        }
        section {
            padding-top: 100px;
            .div-abo-zaid{
                height: 150px;
            }
            img {
                width: 500px;
                height: 300px;
                translate: 50% 0%;
                display: block;
            }
        }
    }
}
